<div class="flex gap-5 my-3">
    <img class="h-20 w-20 place-self-center rounded-xl" [src]="product?.imageUrl"/>
    <div class="flex-grow flex flex-col">
        <span class="font-bold text-lg leading-tight">{{ product?.title }}</span>
        <span class="text-sm text-opacity-50 leading-tight">{{ product?.description }}</span>
        <button class="button w-min text-xs font-bold underline" (click)="removeFromCart(product.productId)">
            Remove
        </button>
    </div>
    <span class="font-bold text-right">${{ product?.price }}</span>
</div>