<div class="grid grid-cols-5 grid-rows-1 h-screen font-body overflow-hidden">
  <div class="col-start-1 col-span-1 row-start-1 row-span-1 p-3 h-full overflow-y-auto invisible sm:visible">
    <!-- menu -->
    <app-menu></app-menu>
  </div>
  <div class="col-start-1 col-span-5 md:col-start-2 md:col-span-4 row-start-1 row-span-1 bg-white h-full overflow-y-auto">
      <div class="sticky top-0 z-20">
        <app-header></app-header>
      </div>
    <div class="relative z-10">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-container *ngIf="{ orderConfirmation: orderConfirmationIsOpened$ | async, cart: cartIsOpened$ | async, productDetails: productDetails$ | async } as layers">
    <!-- fade -->
    <div *ngIf="layers.cart" (click)="closeAllLayers()" class="col-start-1 col-span-5 z-20 row-start-1 row-span-1 bg-gray-800 bg-opacity-60 h-full w-full"></div>
    
    <!-- cart (angular animations) -->
    <div *ngIf="layers.cart" class="col-start-1 col-span-5 sm:col-start-4 sm:col-span-2 row-start-1 row-span-1 relative z-30">
      <app-cart></app-cart>
    </div>

    <!-- product details (angular animations w/ keyframes) -->
    <ng-container *ngIf="layers.productDetails !== undefined">
       <!-- fade -->
       <div *ngIf="!!layers.productDetails" class="col-start-1 col-span-5 z-20 row-start-1 row-span-1 bg-gray-800 bg-opacity-60 h-full w-full"></div>
      
       <div
          *ngIf="!!layers.productDetails"
          class="col-start-1 col-span-5 mx-10 row-start-1 row-span-1 relative z-40 grid content-center justify-center"
          (click)="closeAllLayers()">
         <app-product-details [product]="layers.productDetails"></app-product-details>
       </div>
     </ng-container>

    <!-- order confirmation (animate.css) -->
    <!-- separate 'undefined' and 'false' here because 'undefined' means that its not initialized yet
         so it shouldn't trigger the `bounceOutDown` animation when the component loads (causing the 
         component to be briefly visible then triggering the exit animation).
         Try removing the `ng-container` below to see the difference -->
    <ng-container *ngIf="layers.orderConfirmation !== undefined">
      <div *ngIf="layers.orderConfirmation === true" class="col-start-1 col-span-5 z-30 row-start-1 row-span-1 bg-gray-800 bg-opacity-60 h-full w-full"></div>
      <ng-container *ngIf="layers.orderConfirmation === true">
          <div class="col-start-1 col-span-5 mx-10 row-start-1 row-span-1 relative z-40 grid content-center justify-center"
            (click)="closeAllLayers()">
              <app-order-confirmation></app-order-confirmation>
          </div>
      </ng-container>
    </ng-container>

  </ng-container>

  <div class="sticky bottom-0">
    <ng-container *ngIf="{ value: animated$ | async } as animated">
      <div class="flex bg-white w-screen py-5 text-center justify-center font-medium shadow-inner cursor-pointer" (click)="setAnimated(!animated.value)">
        <span *ngIf="animated.value; else withAnimation">View Without Animations</span>
        <ng-template #withAnimation>
          <span>View With Animations</span>
        </ng-template>
      </div>
    </ng-container>
  </div>

</div>