<div class="p-5">
    <h2 class="font-extrabold text-3xl">{{ selectedProductType$ | async | titlecase }}</h2>

    <ng-container *ngIf="productItems$ | async as products">
        <div class="grid auto-rows-5 grid-cols-auto-fill gap-6 my-5 masonry">
            <ng-container *ngFor="let productItem of products">
                <div class="masonry-item" 
                    [class.row-span-3]="productItem.type === 'new'"
                    [class.row-span-4]="productItem.type === 'trending'"
                    [class.row-span-5]="productItem.type === 'recommended'"
                >
                    <app-product-card [product]="productItem"></app-product-card>
                </div>
            </ng-container>
        </div>

        <ng-container *ngIf="products.length === 0">
            <span class="text-center text-xl text-gray-600 align-middle">No results found</span>
        </ng-container>
    </ng-container>

</div>