<div class="p-5">
    <ul class="list-none">
        <ng-container *ngIf="{ value: animated$ | async } as animated">
            <ng-container *ngIf="selectedProductType$ | async as selectedProductType">
                <ng-container *ngFor="let item of productTypes$ | async">
                    <li class="p-5">
                        <button
                            class="text-xl text-gray-600 p-2 w-full rounded-full"
                            [class.hover-dim]="animated.value"
                            [class.font-bold]="item.typeKey === selectedProductType"
                            [class.text-gray-800]="item.typeKey === selectedProductType"
                            [@menuOptionsBackground]="item.typeKey === selectedProductType ? 'ACTIVE' : 'DEFAULT'"
                            (click)="selectMenuItem(item.typeKey)"
                        >{{ item?.displayName }}</button>
                    </li>
                </ng-container>
            </ng-container>
        </ng-container>
    </ul>
</div>