<div class="p-5 h-full w-full bg-white shadow-md flex flex-col">
    <div class="flex flex-row items-center">
        <h2 class="mx-5 text-2xl font-bold flex-1">YOUR SHOPPING CART</h2>

        <button class="button py-3 px-6 rounded-xl" (click)="closeCart()">
            <fa-icon class="text-l" [icon]="icons.close"></fa-icon>
        </button>
    </div>

    <div class="my-5 overflow-y-auto overflow-x-hidden">
        <ng-container *ngFor="let product of products$ | async">
            <div>
                <app-cart-product-card [product]="product"></app-cart-product-card>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="totalPrice$ | async as totalPrice">
        <div class="flex flex-row items-center">
            <h2 class="mx-5 text-2xl font-bold flex-1">TOTAL</h2>
            <h2 class="mx-5 text-2xl font-bold flex-1 text-right">${{ totalPrice }}</h2>
        </div>
    </ng-container>
</div>