// [STACKBLITZ]: this import doesn't work in stackblitz, see index.html
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

.hover-shadow {
  //   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transform: scale(1, 1);
  transition: transform 0.2s ease-in-out;

  /* Pre-render the bigger shadow, but hide it */
  &:hover {
    transform: scale(1.03, 1.03);
    transition: transform 0.2s ease-in-out;
  }
  &::after {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    opacity: 0;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    transition: opacity 0.2s ease-in-out;
  }
  /* Transition to showing the bigger shadow on hover */
  &:hover::after {
    opacity: 1;
  }
}

.blur {
  backdrop-filter: blur(1px);
}

img {
  object-fit: cover;
}

// [STACKBLITZ]: this is to replace the masonry layout in tailwind.config.js
.masonry {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.auto-rows-5 {
  grid-auto-rows: 5rem;
}
