// [STACKBLITZ]: this import doesn't work in stackblitz, see index.html
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

.hover-shadow {
  transform: scale(1, 1);
  transition: transform 0.2s ease-in-out;

  /* Pre-render the bigger shadow, but hide it */
  &:hover {
    transform: scale(1.03, 1.03);
    transition: transform 0.2s ease-in-out;
  }
  &::after {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    opacity: 0;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    transition: opacity 0.2s ease-in-out;
  }
  /* Transition to showing the bigger shadow on hover */
  &:hover::after {
    opacity: 1;
  }
}

.hover-dim {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.hover-bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  &:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

.hover-softbounce-once {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  &:hover {
    animation-name: softbounce;
    -moz-animation-name: softbounce;
  }
}

@keyframes softbounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

.blur {
  backdrop-filter: blur(1px);
}

img {
  object-fit: cover;
}

// [STACKBLITZ]: this is to replace the masonry layout in tailwind.config.js
.masonry {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.auto-rows-5 {
  grid-auto-rows: 5rem;
}

/*kill the transitions on any descendant elements of .notransition*/
.noanimation * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
